*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 640px;
    /* max-height: 100vh; */
    font-family: sans-serif;
    color: #f0eded;
    background-color: #030712;
}
button{
    border: none;
}
.app{
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red; */
}   

.test_kod_form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin-top: 50px;
}
.test_kod_form h1{
    font-size: 24px;
    color: #333;

}
.test_kod_form input{
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.test_kod_form button{
    width: 100px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Yorhatdan o'tish */
.yorxatdan_otish_form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-top: 50px;
}
.yorxatdan_otish_form h2{
  font-size: 24px;
  color: #333;
}
.yorxatdan_otish_form input{
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.yorxatdan_otish_form select{
    width:300px ;
    height:40px ;
    padding-left:10px ;
    font-size:16px ;
    border-radius:5px ;
    border:none ;
}
.yorxatdan_otish_form button{
    width:100px ;
    height:40px ;
    background-color:#4CAF50 ;
    color:white ;
    border:none ;
    border-radius:5px ;
}


/* test_javoblari
 */
 .test_javoblari{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding:  20px;

 }
.test_javoblari .test_javoblari_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}
.test_javoblari_card button{
    padding: 10px 25px ;
    border-radius: 10px;
    border:2px solid  #4CAF50;
}



/* Yakunlash_btn */
.yakunlash_btn{
    padding: 10px 20px;
    color: #ffffff80;
  border: 1px solid #ffffff80;
  border-radius: 10px ;
}